.offer-div::-webkit-scrollbar{
    scroll-behavior: smooth;
    display:none;
}
.ct-1::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none;
}
.offer-div{
    scroll-behavior: smooth;
}
.img-1{
}